{% extends "shop/base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Payment" %}{% endblock %}

{% block extra_head %}
<script>
    window.setTimeout(function() {
        $(".order-complete-form").submit();
    }, 5000);
</script>
{% endblock %}

{% block title %}{% trans "Payment" %}{% endblock %}

{% block main %}
<p>{% trans "Please wait while your are redirected to Sagepay. If your browser does not redirect you, click the button."  %}</p>
<br>
<form class="order-complete-form" method="post" action="https://test.sagepay.com/gateway/service/vspform-register.vsp">
    {% csrf_token %}
    <input type="hidden" name="VPSProtocol" value="{{ vpsprotocol }}">
    <input type="hidden" name="TxType" value="{{ txtype }}">
    <input type="hidden" name="Vendor" value="{{ vendor }}">
    <input type="hidden" name="Crypt" value="{{ crypt }}">
    <input type="submit" class="btn btn-default" value="Proceed to payment">
</form>
{% endblock %}
