{% load shop_tags i18n %}

<p>{% trans "Dear" %} {{ order.billing_detail_first_name }},</p>
{% if order.status == 2 %}
<p>{% trans "Your order has been successful, details are below." %}</p>
{% elif order.status == 3 %}
<p>{% trans "There was a problem with your order, details are below" %}</p>
{% endif %}

{% include "shop/includes/order_details.html" %}

